{#
/**
 * @file
 * Default theme implementation for field collection items.
 *
 * Available variables:
 * - content: An array of comment items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {% hide(content.field_example) %} to temporarily suppress the printing
 *   of a given element.
 * - title: The (sanitized) field collection item label.
 * - url: Direct url of the current entity if specified.
 * - page: Flag for the full page state.
 * - attributes: HTML attributes for the surrounding element.
 *    Attributes include the 'class' information.
 * - content_attributes: HTML attributes for the content element.
 *
 * @see template_preprocess()
 * @see template_preprocess_entity()
 *
 * @ingroup themeable
 */
#}
<div class="slide-text">
	<h2>
	{{ content.field_slider_main_heading|field_value }}<br/>
	{% if content.field_slider_sub_heading|render is not empty %}
		<span>{{ content.field_slider_sub_heading|field_value }}</span>
	</h2>
	{% endif %}
	{% if content.field_slider_description|render is not empty %}
	<p>{{ content.field_slider_description|field_value }}</p>
	{% endif %}
	{% if content.field_slider_link_text|render is not empty %}
	<a href="{{ content.field_slider_link|field_value }}" class="button button-3">{{ content.field_slider_link_text|field_value }}</a>
	{% endif %}
</div>
<img src="{{ content.field_slider_image|field_value }}" alt="{{ content.field_slider_main_heading|field_value }} {{ content.field_slider_main_heading|field_value }}"/>


