{#
/**
 * @file
 * Theme override for a field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 *
 * @see template_preprocess_field()
 */
#}
<div class="text-col">
<div class="wrap-text-col">
<div id="text-slider" class="flexslider text-slider">
<ul class="slides">
{% for item in items %}
      <li>
      {{ item.content }}
      </li>
{% endfor %}
</ul>
</div>
</div>
</div>

<div class="img-bg slider">
        <div id="bg-slider" class="flexslider bg-slider" >
            <ul class="slides">
               {% for item in items %}
               		<li class="slideshow_bg"><img src="{{ file_url(item.content['#field_collection_item'].field_text_image_right_image.entity.fileuri) }}"></li>
               {% endfor %}
            </ul>
        </div> <!-- end.vertical-slider -->
        {% set list_count = 0 %}
        <div class="vertical-slider">
            <ul class="slides">
            	{% for item in items %}
            		{% if list_count == 0 %}
            			<li data-slide="{{ list_count }}" class="slide_thumb active"><img src="{{ file_url(item.content['#field_collection_item'].field_text_image_right_image.entity.fileuri) }}" alt=""></li>
            		{% else %}
            			<li data-slide="{{ list_count }}" class="slide_thumb"><img src="{{ file_url(item.content['#field_collection_item'].field_text_image_right_image.entity.fileuri) }}" alt=""></li>
            		{% endif %}
					{% set list_count = list_count + 1 %}
            	{% endfor %}
            </ul>
        </div> <!-- end.vertical-slider -->
        {% set list_count = 0 %}
        <div class="horizontal-slider">
            <ul class="slides">
                {% for item in items %}
                {% if list_count == 0 %}
            			<li data-slide="{{ list_count }}" class="slide_thumb active"><img src="{{ file_url(item.content['#field_collection_item'].field_text_image_right_image.entity.fileuri) }}" alt=""></li>
            		{% else %}
            			<li data-slide="{{ list_count }}" class="slide_thumb"><img src="{{ file_url(item.content['#field_collection_item'].field_text_image_right_image.entity.fileuri) }}" alt=""></li>
            		{% endif %}
					{% set list_count = list_count + 1 %}
				{% endfor %}
            </ul>
        </div> <!-- end.vertical-slider -->
    </div> <!-- end.img-bg -->
